/* ========= TOP GLASS NAV ========== */
.glass-dashboard-navbar {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: rgba(255, 255, 255, 0.08);
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(14px);

  z-index: 1001;
}

/* LEFT SIDE: LOGO */
.glass-dashboard-left {
  display: flex;
  align-items: center;
}

.glass-dashboard-logo-container {
  display: flex;
  align-items: center;
  gap: .75rem;
  padding: 6px 14px;
  border-radius: 18px;

  background: rgba(255,255,255,0.18);
  border: 1px solid rgba(255,255,255,0.25);
  backdrop-filter: blur(15px);

  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background: rgba(255,255,255,0.28);
    transform: translateY(-1px);
  }

  h2 {
    font-size: 1.25rem;
    font-weight: 600;
  }
}

.glass-dashboard-logo {
  width: 42px;
  height: 42px;
  border-radius: 12px;
  padding: 6px;
  background: rgba(255,255,255,0.15);
  border: 1px solid rgba(255,255,255,0.3);
}

/* RIGHT SIDE */
.glass-dashboard-right {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

.glass-dashboard-user {
  font-weight: 600;
  background: rgba(255,255,255,0.14);
  padding: 10px 16px;
  border-radius: 12px;
  border: 1px solid rgba(255,255,255,0.25);
  backdrop-filter: blur(12px);
}

.glass-dashboard-btn {
  padding: 10px 18px;
  font-size: 1rem;
  border-radius: 12px;

  background: rgba(255,255,255,0.15);
  border: 1px solid rgba(255,255,255,0.25);
  backdrop-filter: blur(10px);

  cursor: pointer;
  transition: 0.25s;

  &:hover {
    background: rgba(255,255,255,0.25);
    transform: translateY(-3px);
  }
}

/* ========== LAYOUT ========== */

.dashboard-main {
  display: flex;
  width: 100%;
}

.dashboard-sidebar {
  width: 250px;
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(10px);
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-right: 1px solid rgba(255,255,255,0.1);
}

.dashboard-link {
  display: flex;
  align-items: center;
  gap: .8rem;
  padding: .75rem 1rem;
  border-radius: 12px;
  text-decoration: none;

  background: rgba(255,255,255,0.12);
  border: 1px solid rgba(255,255,255,0.2);
  backdrop-filter: blur(10px);
  color: black;
  font-weight: 600;
  transition: .25s;

  img {
    width: 22px;
    opacity: .85;
  }

  &:hover {
    background: rgba(255,255,255,0.22);
    transform: translateX(4px);
  }

  &.active {
    background: rgba(255,255,255,0.28);
    border-color: rgba(255,255,255,0.35);
  }
}

.dashboard-content {
  flex: 1;
  padding: 2rem;}