
.glass-footer {
  width: 100%;
  padding: 3rem 1.2rem;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(20px);
  border-top: 1px solid rgba(255,255,255,0.22);
  display: flex;
  justify-content: center;
}

.glass-footer_container {
  width: 100%;
  max-width: 1250px;
  display: grid;
  grid-template-columns: 1fr;   
  gap: 2rem;
}


@media (min-width: 640px) {
  .glass-footer_container {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (min-width: 950px) {
  .glass-footer_container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.footer-col {
  background: rgba(255,255,255,0.10);
  border: 1px solid rgba(255,255,255,0.22);
  border-radius: 18px;
  padding: 1.4rem;
  backdrop-filter: blur(16px);
  box-shadow: 0 8px 22px rgba(0,0,0,0.25);
  transition: .3s;

  &:hover {
    background: rgba(255,255,255,0.14);
    transform: translateY(-4px);
  }
}

.footer-col h3 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  color: black;
  position: relative;
  font-weight: 700;
}

.footer-col h3::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 48px;
  height: 3px;
 
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(255,255,255,0.6);
}

.footer-col p,
.footer-col a,
.footer-col li {
  color: black;
  font-size: .95rem;
  line-height: 1.45rem;
}


.footer-col ul {
  list-style: none;
  padding: 0;

  li {
    margin: 7px 0;

    a {
      text-decoration: none;
      transition: .2s;

      &:hover {
        opacity: .75;
        color: #fff;
      }
    }
  }
}


.socials {
  margin-top: 1rem;
  display: flex;
  gap: 14px;

  img {
    width: 28px;
    cursor: pointer;
    transition: .25s;

    &:hover {
      transform: translateY(-3px);
      opacity: .8;
    }
  }
}

.contact-row {
  margin-bottom: .8rem;
}




