.job-menu {
  width: 100%;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  
  &__block {
    background: rgba(255,255,255,0.25);
    border: 1px solid rgba(255,255,255,0.3);
    backdrop-filter: blur(14px);
    border-radius: 18px;
    padding: 1.2rem;
    box-shadow: 0 4px 14px rgba(0,0,0,0.12);
    animation: fadeUp .8s ease forwards;
    opacity: 0;
  }

  h3, h4 {
    margin: 0 0 .8rem 0;
    font-weight: 700;
  }

  /*selected search */
  &__selected-tags {
    display: flex;
    flex-wrap: wrap;
    gap: .6rem;

    span {
      background: rgba(255,255,255,0.35);
      border: 1px solid rgba(255,255,255,0.4);
      backdrop-filter: blur(10px);
      font-size: .85rem;
      padding: .35rem .8rem;
      border-radius: 12px;
      display: flex;
      align-items: center;
      gap: .4rem;

      img {
        width: 14px;
        cursor: pointer;
        transition: .2s;

        &:hover {
          transform: scale(1.15);
        }
      }
    }
  }

  /*filter*/
  &__list {
    list-style: none;
    padding: 0 .5rem;
    display: flex;
    flex-direction: column;
    gap: .6rem;

    li {
      display: flex;
      align-items: center;
      gap: .6rem;

      input {
        width: 18px;
        height: 18px;
        accent-color: black;
      }
    }
  }

  &__grid {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: .2rem; 
  }



  @media (min-width: 768px) {
    padding: 2rem;

    &__grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.2rem;
      padding:  .4rem;
    }
  }

 
  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: 260px 1fr;
    align-items: flex-start;
    gap: 2rem;
    padding-right: 1rem;

    &__filters {
      position: sticky;
      top: 90px;
      height: fit-content;
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
    }

    &__grid {
      grid-template-columns: repeat(2, 1fr);
      padding: 0 0.6rem; 
    }
  }

 
  @media (min-width: 1440px) {
    &__grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

/* animations*/
@keyframes fadeUp {
  0% { opacity: 0; transform: translateY(18px); filter: blur(4px); }
  100% { opacity: 1; transform: translateY(0); filter: blur(0); }
}


